//-----------------
//Patron de colores
//-----------------

$Color_Text_Titulo:#CF1F2E;
$Color_Text_Principal:#FFFFFF;
$Color_Text_Secundario:#000000;
$Color_Fondo_Principal:#E1202E;
$Color_Fondo_Secundario:#028F6D;
$Color_Fondo_Menu:#CF2033;
$Color_Text_Subtitulo:#B22222;
$Color_Text_Menu:#F9F075;
$Color2:#80141A;
$Color3:#F9EC64;/*Color letras seccion Devocion */
$Color4:#88C554;
$Color5:#3F3075;
$Color6:#CB85C2;
$Color8:#DC5A26;
$Color9:#B3AA33;
$Color10:#FFCD00;
$Color12:#FFCD00;
$Color13:#E2E2E1;
$Color14:#0A0A0A;
$Color15:#FECD05;

html{
    font-size: 18px;    
}

.encabezado{
    background: $Color_Fondo_Menu;
    color: $Color_Text_Menu;
    padding: .2rem 0;    
}

.encabezado .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado .logo img{
    width: 210px;
    height: auto;
}

.bienvenida {
    display: flex;
    flex-direction: column;
}

/*------------------------------------------*/
/*ESTILOS PARA EL BOTON BUSCAR Y BOTON MENU */
.boton-buscar, .boton-menu{
    border:0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: $Color_Text_Principal;    
}

.boton-buscar:focus, 
.boton-menu:focus{
    outline: 0;
}

.boton-buscar{
    margin-left: auto;
    margin-right: .8rem;
}
/*------------------------------------------*/


/*----------------------------------*/
/*ESTILO BLOQUE BUSCAR*/
#bloque-buscar{
    flex: 1 1 100%;    
}

.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}
/*----------------------------------*/


/*------------------------------------------------*/
/*CONFIGURANDO LOS INPUT DE TIPO TEXTO */
.contenedor-bloque-buscar input[type="text"]{
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}

.contenedor-bloque-buscar input[type="submit"]{
    flex: 1 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $Color10;
    Color: $Color_Text_Principal;
    flex: 0 1 auto;
    padding: 0 1rem;
}
/*------------------------------------------------*/


/*------------------------------------------------*/
/*CONFIGURANDO EL MENU PRINCIPAL */
#menu-principal{
    flex: 1 1 100%;
    
}

#menu-principal ul{
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
    
}
/*------------------------------------------------*/

/*------------------------------------------------*/
/*CONFIGURANDO MENU DE ENLACES PRINCIPALES */
#menu-principal ul a{
    display: block;
    padding: .8rem 0;
    text-align: center;
    font-weight: bold;
    color: $Color_Text_Principal;
    text-transform: capitalize;
    border-top: 1px solid $Color_Text_Principal;
    text-decoration: none;
    font-family: 'Open Sans Condensed', light;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a
{
    color: $Color_Text_Menu;    
}
/*------------------------------------------------*/

.texto-encabezado{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}


/*------------------------------------------------*/
/*CONFIGURANDO EL ENCABEZADO PRINCIPAL */
.texto-encabezado .display-4{
    margin-top: 1rem;
    font-family: 'Courgette', bold;
    color: $Color_Text_Titulo;
    text-align: center;
    font-size: 50px;
}
/*------------------------------------------------*/

/*------------------------------------------------*/
/*CONFIGURANDO EL BOTON CONTACTO */
.btn-primary{
    color: $Color_Text_Principal;
    background-color: #30328A;
    border-color: transparent;
    margin-top: 1rem;
    transition: all .5s ease;
}
/*------------------------------------------------*/

#Subtitulo1{
    font-family: 'Oswald', bold;
    color: $Color_Text_Subtitulo;
    font-size: 26px;
}

#Contenido1{
    font-family: 'Open Sans Condensed', light;
    color: $Color_Text_Secundario;
    text-align: justify;
    font-size: 20px;
}

#Aviso1{
    font-family: 'Source Serif Pro', bold;
    color: $Color_Text_Subtitulo;
    text-align: center;
    font-size: 18px;
    font-weight:bolder; 
}

.Boton_Contacto{
    float: none;
    text-align: center;
}

.flecha-bajar a{
    display: inline-block;
    color: $Color_Text_Titulo;
    font-size: 4rem;
    text-align: center;
    animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(6px);
    }
    to{
        transform: translateY(0);
    }
}

/*---------------------------------*/
/*CONFIGURANDO SECCION #2 DEVOCION */
.devocion{
    background: $Color_Fondo_Menu;
}

.devocion h2{
    color: $Color3;
    font-family: 'Courgette', bold;
    padding-top: 2rem;
}

.devocion img{
    width: 120%;
    margin: 0 auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.devocion #Items{
    font-family: 'Open Sans Condensed', light;
    color: $Color3;
    font-size: 22px;
}

.devocion p{
    color: $Color_Text_Principal;
    text-align: justify;
    font-size: 15px;
}

.devocion h4,
.devocion a:hover{
    color: $Color10;
    font-family: 'Oswald', light;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0;
}
/*------------------------------*/

/*-----------------------------------------*/
/*CONFIGURANDO SECCION GALERIA DE IMAGENES */

.devocion .contanier{
    padding-left: 0;
    padding-right: 0;
}

.devocion .owl-nav{
    display: flex;
    justify-content: center;
    margin: .3rem 0;
    font-size: 3rem;
    color: $Color_Text_Principal;
    transition: all .5s ease;
}

.devocion .owl-nav .owl-prev,
.devocion .owl-nav .owl-next,
.devocion .owl-nav .owl-prev:hover,
.devocion .owl-nav .owl-next:hover{
    margin: 0 .7rem;
    color: yellow;
}
/*-----------------------------------------*/
/*------FIN DE LA SECCION #2 DEVOCION------*/



/*---------------------------------------*/
/*CONFIGURANDO SECCION #3 SOBRE NOSOTROS */

.nosotros{
    background: $Color_Fondo_Secundario
}

.nosotros h2{
    color: $Color3;
    font-family: 'Courgette', bold;
    padding-top: 2rem;
}

.nosotros p{
    color: $Color_Text_Principal;
    font-family: 'Open Sans Condensed', light;
    padding-top: 1rem;
}

.nosotros .container img:hover{
    filter: opacity(.5);
    border-bottom-style: solid;
}
/*---------------------------------------*/
/*-----FIN DE LA SECCION #3 NOSOTROS-----*/


/*---------------------------------------*/
/*CONFIGURANDO SECCION #4 EQUIPO PASTORAL */

.pastorales{
    background: $Color_Fondo_Secundario
}

.pastorales h2{
    color: $Color3;
    font-family: 'Courgette', bold;
    padding-top: 2rem;
}

.pastorales p, ol{
    color: $Color_Text_Principal;
    font-family: 'Open Sans Condensed', light;
    padding-top: 1rem;
}

.pastorales #Mensaje{
    color: $Color_Text_Principal;
    font-family: 'Courgette', bold;
    padding-top: 2rem;
}

.pastorales span{
    color: $Color10;
    font-family: 'Courgette', bold;
    padding-top: 2rem;
}
/*---------------------------------------*/
/*----FIN DE LA SECCION #4 PASTORALES----*/


/*--------------------------------*/
/*CONFIGURANDO SECCION #5 GALERIA */

.galeria{
    background: $Color_Fondo_Secundario
}

.galeria h2{
    color: $Color3;
    font-family: 'Courgette', bold;
    padding-top: 1rem;
}

.galeria p{
    color: $Color_Text_Principal;
    font-family: 'Open Sans Condensed', light;
    padding-top: 1rem;
}


.galeria .container .carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .5s;
 transition-property: opacity;
 position: absolute;
}

.galeria .container .carousel slide  .carousel-item.active,
.galeria .container .carousel slide  .carousel-item-next.carousel-item-left,
.galeria .container .carousel slide  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.galeria .container .carousel slide .active.carousel-item-left,
.galeria .container .carousel slide .active.carousel-item-right {
 opacity: 0;
}

.galeria .container .carousel slide .carousel-item-next,
.galeria .container .carousel slide .carousel-item-prev,
.galeria .container .carousel slide .carousel-item.active,
.galeria .container .carousel slide .active.carousel-item-left,
.galeria .container .carousel slide .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
/*------------------------------------*/
/*----FIN DE LA SECCION #5 GALERIA----*/


/*--------------------------------------*/
/*CONFIGURANDO SECCION #6 FIN DEL SITIO */

.piedepagina{
    background: $Color_Text_Secundario;
    color: $Color_Text_Principal;
    text-align: center;
    font-size: .7rem;
    padding-top: .5rem;
}

.piedepagina .redes-sociales{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.piedepagina .redes-sociales a{
    color: $Color_Text_Principal;
    font-size: 2rem;
    margin: 0 .8rem;
}

.piedepagina .redes-sociales a:hover{
    color: $Color10;
    opacity: 20;
    transition: all .5s ease;
}

.piedepagina p{
    color: $Color_Text_Principal;
    font-family: 'Open Sans Condensed', light;
    font-size: .7rem;
}

.piedepagina h2{
    color: aqua;
    font-family: 'Open Sans Condensed', light;
}

/*------------------------------------*/
/*-FIN DE LA SECCION #6 FIN DE SITIO-*/


/*--------------------------------------*/
/*CONFIGURANDO BOTON DE DESPLAZAMIENTO */
.ir-arriba{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: $Color12;;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus{
    outline: 0;
    text-decoration: none;
    color: $Color5;
}


/*------------------------------------*/
/*-FIN DE LA CONFIGURACION DEL BOTON-*/


/*---------------------*/
/*CONFIGURANDO JQUERY */
/*DEFINICION SEGUN EL TAMANO DE LAS PANTALLAS */
@media (min-width:768px)
{
    #menu-principal 
    {            
        height: auto !important;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1;
    }
    
    #menu-principal ul
    {
        display: flex;
        margin: 0 0 0 0;
    }
    
    #menu-principal ul li a
    {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .2rem;
        border-top: 0px;
        border-bottom: 3px solid transparent;
        transition: all .5s linear;
    }
    
    #menu-principal ul li.active a,
    #menu-principal ul li a:hover
    {
        color: $Color10;
        border-bottom: 3px solid;
    }
    
    .boton-buscar
    {
        margin-left: 1rem;
        margin-right: 0;
        order: 2;
    }
    
    #bloque-buscar
    {
        order: 3;
        position: absolute;
        width: 20rem;
        right: 6.5rem;
        top: 4.5rem;
        transition: all .5s ease;
    }
    
    
    .piedepagina .redes-sociales a
    {
        display: block;
        width: 100%;
    }
    
    
    
}
/*---------------------*/



